*{
    margin:0PX;
    padding:0px;
   
}
body{
    background-color:brown;
}
.topbar{
    background-color:aqua;
    height: 80px;
 
}
.socialmedia a img{
    margin:8px 10px;
    width: 50px;
    height: 50px;
    float:left;
}
.socialmedia1 a img{
    margin:8px 10px;
   height: 50px;
   float:right;
   width: 50px;
}
.welcome{
    font-size:40px;
    padding:10px;
    margin:auto;
    text-align:center;
    text-transform:capitalize;
    animation:animate 2s infinite;
}
@keyframes animate{
    from{color:blck;
        background-color:aqua;
        padding: 20px;
    }
    to{
        color:yellow;
        background-color:black;
        padding: 10px;
    }
}
nav{
    background-color:rgb(124, 23, 170);
    height: 60px;
}
ul{
    list-style: none;

}
ul li{list-style: none;
    text-decoration: none;
    float:left;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size:21px;
}
li a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
    padding:5px 15px 5px 15px;
    color:white;
    border-left:3px solid rgb(245, 241, 7);
    border-right:3px solid rgb(236, 214, 9);
    text-transform:capitalize;
    margin:10px 5px 10px 15px;
    border-radius:25px;
}
a:hover{
    background-color:rgb(43, 43, 40);
    padding: 10px;
}
input{
    float:right;
    margin:15px 25px 25px 0px;
     width: 200px;
     height: 30px;
     font-weight:bold;
     border-radius:8px; 
}

marquee{
    margin-top:-14px;
    font-size:25px;
    background-color:rgb(187, 179, 178);
}
section{
    background-image: url(../images/gitar.jpg);
    background-size:contain;
}
.container{
    margin:5px auto;
    width: 670px;
    overflow: hidden;
    
}
.slide{
    width: 700px;
    height: 600px;
    float:left;
}
.slider{
    position: relative;
    width:4900px;
    height: 610px;
    animation:jmslide 28s infinite;
}
@keyframes jmslide{
    0%{
        left:0px;
    }
    14.28%{
        left:0px;
    }
    17.85%{
        left:-700px;
    }
    32.14%{
        left:-700px;
    }
    35.71%{
        left:-1400px;
    }
    50%{
        left:-1400px;
    }

    53.57%{
        left:-2100px;
    }
    67.85%{
        left:-2100px;
    } 
    71.42%{
        left:-2800px;
    }
    85.71%{
        left:-2800px;
    }
    89.28%{
        left:-3500px;
    }
    100%{
        left:-3500px;
    }
}
.zero{
       background-color:white;

}
hr{
    size: 15px;
    color:indigo;
    margin: 5px;
}
.zero h1{
    color:red;
    font-size:50px;
    font-family: cursive;
    font-weight: bold;
    text-align:center;
}
.zero p{
    letter-spacing: 2px;
    line-height:35px;
    font-size:22px;
    padding: 80px 250px;
}